[package]
name = "pg_replicate"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio-postgres = { git = "https://github.com/MaterializeInc/rust-postgres", features = [
    "with-chrono-0_4",
] }
postgres-protocol = { git = "https://github.com/MaterializeInc/rust-postgres" }
tokio = { version = "1", features = ["full"] }
futures = "0.3"
thiserror = "1.0"
bytes = "1.0"
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
parquet = "50"
tempfile = "3.10"
arrow-array = "50"
chrono = { version = "0.4", features = ["serde"] }
serde_json = "1.0"
serde_cbor = "0.11"
anyhow = "1.0"
